:root
{
    --page-background-color: black;
    --paragraph-color: white;
    --button-color: #3477eb;
    --dark-button-color: #2b63c4;
    --border-color: #eb4034;
    --heading-color: #D09E01;
}

body
{
    /*background-color: var(--page-background-color);*/
    background-image: radial-gradient(closest-side, rgb(17, 17, 17), black);
    font-family: Arial, Helvetica, sans-serif;
}

button
{
    width: 100%;

    background-color: var(--button-color);
    color: var(--paragraph-color);

    border-radius: 50pt;
    border-style: solid;
    border-color: transparent;

    font-size: 25pt;

    margin-top: 5pt;
    margin-bottom: 5pt;
}

button:hover
{
    cursor: pointer;
    text-decoration: underline;
    font-size: 30pt;

    background-color: var(--dark-button-color);
}

h1
{
    text-align: center;
    color: var(--heading-color);
}

p
{
    text-align: center;
    color: var(--border-color);
}

a
{
    color: var(--button-color);
    font-size: 15pt;
    text-decoration: none;
    
    text-align: center;
    
    margin-left: 5px;
    margin-right: 5px;
}

a:hover
{
    font-size: 20pt;
    text-decoration: underline;
}

span
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.game_logo
{
    max-width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
    border: 5px;
    border-style: solid;
    border-color: var(--border-color);
}

.download-pursway
{
    color: white;

    width: fit-content;
    
    margin-left: auto;
    margin-right: auto;

    background-color: var(--heading-color);
    border-radius: 15px;
    border: 5px;
    border-style: solid;
    border-color: var(--heading-color);
}

.download-pursway:hover
{
    font-size: 115%;
}

.download-link
{
    padding: 0;
    margin: 0;
}